header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;

    .logo img {
        max-width: 150px; /* Ancho máximo del logo */
        height: auto;
    }

    .menu {
        list-style: none;
        display: flex;
        gap: 20px;

        li {
            position: relative;

            a {
                text-decoration: none;
                color: #fff;
            }
        }

        .submenu:hover .sub-menu {
            display: block;
        }

        .sub-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #333;

            li {
                padding: 10px;
            }
        }
    }
}

/* Estilos para el menú en pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        
        .menu {
            display: none;

            .submenu:hover .sub-menu {
                display: block;
            }
        }
    }

    header .menu-toggle {
        display: block;
    }
}