/* Estilo general del encabezado */

nav{
    background: white;
    height: 80px;
    width: 100%;

}
.enlace{
    position: absolute;
    padding: 10px 80px;
}
.logo{
    height: 60px;
}
nav ul{
    float: right;
    margin-right: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: orange; 
    padding: 30px;
    transition: .5s;
    
}
.checkbtn{
    font-size: 30px;
    color: #545a5e;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
