.btn-darkorange {
    color: #fff;
    background-color: darkorange;
    border-color: darkorange;
}
.btn-darkorange:hover {
    color: #fff;
    background-color: #a35800; /* Cambia este color si necesitas ajustar el tono */
    border-color: #a35800; /* Cambia este color si necesitas ajustar el tono */
}